
.Lin_head{
	width:100%;
	height:55px;
	background:#fbfbfb;
	overflow:hidden;
}
.Lin_hed{
	width:1000px;
	height:55px;
	margin:0 auto;
}
.Lin_lik{
	width:131px;
	height:55px;
	float:left;
}
.Lin_lik a{
	width: 133px;
    height: 44px;
    display: block;
    float: left;
    margin-top: 5px;
}
.Lin_swl{
	width:145px;
	height:55px;
	margin-left:490px;
	float:left;
	text-align:center;
}
.Lin_swl a{
	height:52px;
	padding: 0 12px;
	
	display:block;
	line-height: 52px;
	color: #333;
	float:left;
   	-webkit-transition: ease-in-out .3s;
}
.Lin_swl a:hover{
	background:linear-gradient(#f1f1f1, #fff);
	color:#bc2e2e;
	border-bottom:3px solid #bc2e2e;
}
.Lin_wal{
	
	height:55px;
	float:left;
	text-align:center;
}
.Lin_wal a{
	height:52px;
	padding: 0 12px;
	display:block;
	line-height: 52px;
	color: #333;
	float:left;
   	-webkit-transition: ease-in-out .3s; 
}
.Lin_wal a img{
	padding:18px 0 0 4px;
}
.Lin_wal a:hover{
	background:linear-gradient(#f1f1f1, #fff);
	color:#bc2e2e;
	border-bottom:3px solid #bc2e2e;
}
.Lin_wsl{
	width:103px;
	height:55px;
	float:left;
	text-align:center;
}
.Lin_wsl a{
	height:52px;
	padding: 0 12px;
	display:block;
	line-height: 52px;
	color: #333;
	float:left;
   	-webkit-transition: ease-in-out .3s; 
}
.Lin_wsl a img{
	padding:18px 0 0 4px;
}
.Lin_wsl a:hover{
	background:linear-gradient(#f1f1f1, #fff);
	color:#bc2e2e;
	border-bottom:3px solid #bc2e2e;
}
.main{
	width:100%;
	min-height: 2000px;
    background: transparent url(../images/Bg.jpg) scroll no-repeat center top;
    overflow:hidden;
}
.Lin_main{
	width:1200px;
	margin:0 auto;
	height: 466px;
    padding-top: 174px;
    position: relative;
}
.logo{
	width: 239px;
    height: 215px;
    position: absolute;
    top: -9px;
    left: 343px;
    z-index: 4;
}
.logo img{
	width: 100%;
    height: 100%;
    vertical-align: top;
}
.navBar{
	width: 204px;
    height: 58px;
    position: absolute;
    right: -25px;
    top: 20px;
    z-index: 4;
}
.navBar a{
	width: 54px;
    height: 54px;
    margin-top: 3px;
    text-align: center;
    color: #5a4039;
    font-size: 16px;
    float: left;
    line-height: 54px;
    margin-right: 12px;
    border:1px solid #5a4039;
    border-radius:50%;
    transition:.5s;
    background-repeat: no-repeat;
}
.navBar a:hover{
	color:#bc2e2e;
	border:1px solid #bc2e2e;
}
.Lin_max{
	width: 343px;
    height: 146px;
    margin:0 0 41px -321px;
}
.Lin_max img{
	width:100%;
	height:100%;
	vertical-align: top;
}
.Lin_login{
	width: 205px;
    height: 55px;
    background: transparent url(../images/login.png) scroll no-repeat 0 0;
    float: right;
    margin-top: 181px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.Lin_login:hover{
	 background: transparent url(../images/login_T.png) scroll no-repeat 0 0;
}
.Lin_modules{
	width:1200px;
	min-height:340px;
	margin-bottom:30px;
	box-shadow:1px 1px 5px 1px #e9dbd7;
	border-radius:3px;
	position:relative;
	z-index:1;
}
.module{
	width:1200px;
	min-height:340px;
	margin-bottom:30px;
	background:#f0efec;
	opacity:0.4;
	border-radius:3px;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}
.modules{
	width:1200px;
	min-height:340px;
	margin-bottom:30px;
	position:absolute;
	opacity:1;
	top:0;
	left:0;
	z-index:3;
}
.modu{
	width:24.8%;
    height: 314px;
    padding-top: 26px;
    float: left;
    opacity:1;
}
.Lin_sl{
	width:100%;
	min-height: 51px;
    font-size: 24px;
    font-weight: 700;
    color: #9d1c0a;
    text-align: center;
    line-height: 51px;
    text-indent:1em;
    position: relative;
}
.Lin_sl i{
	width: 51px;
    height: 51px;
    position: absolute;
    top: 50%;
    left: 35px;
    margin-top: -26px;
    background-repeat: no-repeat;
	background:url(../images/near.png) no-repeat -380px -347px;
}
.Lin_input{
	width:230px;
	height:102px;
	margin:20px auto 0;
}
.txt{
	letter-spacing: 1px;
	height:42px;
	padding:0 32px 0 8px;
	border:1px solid #b00601;
	background:#e9e4e6;
	font-weight:300;
}
.pasd{
	letter-spacing: 1px;
	height:42px;
	padding:0 32px 0 8px;
	border:1px solid #b00601;
	background:#e9e4e6;
	margin:15px 0 10px;
	font-weight:300;	
}
.Lin_sla{
	width:208px;
	color:#999;;
    text-decoration: none;
    line-height: 20px;
    text-align:left;
    margin:10px 0;
}
.Lin_wol{
	width:230px;
	height:72px;
	margin:0 auto 0;
}
.Lin_wol a{
	width: 242px;
    height: 72px;
    background-color: transparent;
    background: url(../images/login__del.png) scroll no-repeat 0 2px;
    margin: 0 0 0 -6px;
    display:block;
    font-size:19px;
    color:#fff;
    text-align:center;
    line-height:70px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.Lin_wol a:hover{
	background: url(../images/login_sol.png) scroll no-repeat 0 2px;
}
.Lin_sll{
	width:100%;
	min-height: 51px;
    font-size: 24px;
    font-weight: 700;
    color: #9d1c0a;
    text-align: center;
    line-height: 51px;
    text-indent:1em;
    position: relative;
}
.Lin_sll i{
	width: 51px;
    height: 51px;
    position: absolute;
    top: 50%;
    left: -4px;
    margin-top: -26px;
    background-repeat: no-repeat;
	background:url(../images/near.png) no-repeat -533px -347px;
}
.Lin_swol{
	overflow: hidden;
    position: relative;
    width: 205px;
    margin:3px 0 26px 2px;
}
.Lin_tuo{
    width: 1025px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    left: -225px;
}
.Lin_ip{
	height: 5px;
    margin-top: 12px;
    float: left;
    position: relative;
    left: 24%;
}
.Lin_ip li{
	width:24px;
	height:5px;
	margin-left:8px;
	background:#ccc;
	float:left;
}
.Lin_ip li.sp{
	background:#b00601;
}
.Lin_modu{
	width:24.8%;
    height: 314px;
    padding-top: 26px;
    float: left;
    position:relative;
    opacity:1;
    
}
.Lin_wols a{
	width: 242px;
    height: 72px;
    background-color: transparent;
    background: url(../images/login__del.png) scroll no-repeat 0 2px;
    margin: -45px 0 0 -6px;
    display:block;
    font-size:19px;
    color:#fff;
    text-align:center;
    line-height:70px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.Lin_wols a:hover{
	background: url(../images/login_sol.png) scroll no-repeat 0 2px;
}

.Lin_slo{
	width: 249px;
    height: 272px;
	margin: -45px auto 0;
	background:url(../images/near.png) no-repeat 0 0;
}
.Lin_slla{
	width:100%;
	min-height: 51px;
    font-size: 24px;
    font-weight: 700;
    color: #9d1c0a;
    text-align: center;
    line-height: 51px;
    text-indent:1em;
    position: relative;
}
.Lin_slla i{
	width: 51px;
    height: 51px;
    position: absolute;
    top: 50%;
    left: 19px;
    margin-top: -26px;
    background-repeat: no-repeat;
	background:url(../images/near.png) no-repeat -482px -347px;
}
.Lin_sllal{
	width:60%;
	height: 51px;
    font-size: 24px;
    font-weight: 700;
    color: #9d1c0a;
    
    position: relative;
    text-align:left;
}
.Lin_sllal i{
	width: 51px;
    height: 51px;
    position: absolute;
    top: 50%;
    left: -55px;
    margin-top: -26px;
    background-repeat: no-repeat;
	background:url(../images/near.png) no-repeat -482px -347px;
}
.Lin_sloa{
	width: 249px;
    height: 272px;
	margin: -45px auto 0;
	cursor:pointer;
}
.Lin_sloa img{
	width: 225px;
    height: 251px;
}

.Lin_bo{
	width:1200px;
	min-height:300px;
	margin:0 auto 30px;
	box-shadow:1px 1px 5px 1px #e9dbd7;
	border-radius:3px;
	background:#f0efec;
	position:relative;
}
.Lin_a{
	width:170px;
	height:300px;
	float:left;
}
.Lin_a a{
	width:170px;
	height:75px;
	font-size:18px;
	color: #838383;
    text-align: center;
    line-height: 75px;
    display: block;
    
    float:left;
}
.Lin_a a.Cla{
	font-weight: 700;
    color: #ca7b1d;
	background:url(../images/near.png) no-repeat -326px -272px;	
}
.Lin_Min{
	width: 1030px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.Lin_Limin{
	width: 5150px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    left: -2060px;
}
.Lin_Ul{
	height: 6px;
    float: left;
    position: absolute;
    bottom: 20px;
    left: 44%;
}
.Lin_Ul li{
	width: 50px;
    height: 6px;
    background-color: #fff;
    margin-right: 10px;
    float: left;
    cursor: default;
}
.Lin_Ul li.Lin_on{
	background:#b00601;
}
.Lin_dos{
	width:1200px;
	height:230px;
	box-shadow:1px 1px 5px 1px #e9dbd7;
	border-radius:3px;
	background:#f0efec;
	position: relative;
}

.Laa_a{
	width: 250px;
    padding-left: 150px;
    height: 230px;
    float: left;

}
.Las{
	width: 172px;
    height: 224px;
    position:absolute;
    top: 6px;
    left:0px;
    background:url(../images/near.png) no-repeat -17px -272px;
}
.Lin_tian{
	height: 202px;
    position: relative;
    padding-top: 28px;
    z-index: 2;
}
.Lin_tian h3{
	width: 100%;
    height: 41px;
    font-size: 24px;
    color: #9d1c0a;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 4px;
    text-align:left;
}
.Lin_tian p{
	font-size: 14px;
    color: #333;
    line-height: 24px;
    text-align:left;
}
.Lin_tian a{
	width: 98px;
    height: 28px;
    text-align: center;
    color: #ca7b1d;
    border: 1px #ca7b1d solid;
    line-height: 28px;
    font-size:16px;
    position: absolute;
    bottom: 35px;
    left: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.Lin_tian a:hover{
	color:#fff;
	background:#ca7b1d;
}
.Lin_tla{
	width: 17px;
    height: 230px;
    position: absolute;
    top: 0;
    right: -8px;
    background:url(../images/near.png) no-repeat 0px -272px;
}
.Laa_b{
	width: 250px;
    padding-left: 150px;
    height: 230px;
    float: left;
	position:relative;
}
.Lasx{
	width: 137px;
    height: 164px;
    position:absolute;
    top: 42px;
    left:0px;
    background:url(../images/near.png) no-repeat -189px -272px;
}
.Laa_c{
	width: 250px;
    padding-left: 150px;
    height: 230px;
    float: left;
	position:relative;
}
.Lasz{
	width: 172px;
    height: 231px;
    position:absolute;
    top: -2px;
    left:0px;
    background:url(../images/near.png) no-repeat -484px 0px;
}
.Lin_swa{
	width:1200px;
	height:340px;
	box-shadow: 1px 1px 5px 1px #e9dbd7;
    border-radius: 3px;
    background: #f0efec;
    position: relative;
    margin:30px auto 0;
	
}
.Lin_swa h2{
	font-size: 44px;
    font-weight: 700;
    color: #9d1c0a;
    line-height: 50px;
    position: absolute;
    top: 56px;
    left: 46px;
    z-index: 3;
}
.Lin_mpHd{
	height: 80px;
    position: absolute;
    top: 153px;
    left: 52px;
    z-index: 3;
}
.Lin_mpHd a.mpn1{
	width: 40px;
    height: 80px;
    float: left;
    background: transparent url(../images/Lin_1.png) scroll no-repeat center center;
    margin-right: 5px;
    cursor: default;
}
.Lin_mpHd a.on{
	width:38px;
	height:78px;
	border:1px solid #685c3c;
}
.Lin_mpHd a.mpn2{
	width: 40px;
    height: 80px;
    float: left;
    background: transparent url(../images/Lin_2.png) scroll no-repeat center center;
    margin-right: 5px;
    cursor: default;
}
.Lin_mpHd a.mpn3{
	width: 40px;
    height: 80px;
    float: left;
    background: transparent url(../images/Lin_3.png) scroll no-repeat center center;
    margin-right: 5px;
    cursor: default;
}
.Lin_mpHd a.mpn4{
	width: 40px;
    height: 80px;
    float: left;
    background: transparent url(../images/Lin_4.png) scroll no-repeat center center;
    margin-right: 5px;
    cursor: default;
}
.Lin_mpHd a.mpn5{
	width: 40px;
    height: 80px;
    float: left;
    background: transparent url(../images/Lin_5.png) scroll no-repeat center center;
    margin-right: 5px;
    cursor: default;
}
.Lin_mpHd a.mpn6{
	width: 40px;
    height: 80px;
    float: left;
    background: transparent url(../images/Lin_6.png) scroll no-repeat center center;
    margin-right: 5px;
    cursor: default;
}
.Lin_mpHd a.mpn7{
	width: 40px;
    height: 80px;
    float: left;
    background: transparent url(../images/Lin_7.png) scroll no-repeat center center;
    margin-right: 5px;
    cursor: default;
}
.Lin_mpHd a.mpn8{
	width: 40px;
    height: 80px;
    float: left;
    background: transparent url(../images/Lin_8.png) scroll no-repeat center center;
    margin-right: 5px;
    cursor: default;
}
.Lin_mpHd a.mpn9{
	width: 40px;
    height: 80px;
    float: left;
    background: transparent url(../images/Lin_9.png) scroll no-repeat center center;
    margin-right: 5px;
    cursor: default;
}
.Lin_mpHd a.mpn10{
	width: 40px;
    height: 80px;
    float: left;
    background: transparent url(../images/Lin_10.png) scroll no-repeat center center;
    margin-right: 5px;
    cursor: default;
}
.Lin_mpHd a.mpn11{
	width: 40px;
    height: 80px;
    float: left;
    background: transparent url(../images/Lin_11.png) scroll no-repeat center center;
    margin-right: 5px;
    cursor: default;
}
.mpBd{
	width: 1200px;
    height: 340px;
    position: relative;
}
.mpBd a{
	width: 1200px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: default;
    display:none;
}
.mpBd a.ma1{
	height:378px;
	display:block;
}
.mpBd a.ma2{
	height:373px;
}
.mpBd a.ma3{
	height:370px;
}
.mpBd a.ma4{
	height:368px;
}
.mpBd a.ma5{
	height:340px;
}
.mpBd a.ma6{
	height:361px;
}
.mpBd a.ma7{
	height:360px;
}
.mpBd a.ma8{
	height:378px;
}
.mpBd a.ma9{
	height:365px;
}
.mpBd a.ma10{
	height:368px;
}
.mpBd a.ma11{
	height:366px;
}

.Lin_la{
	width: 100%;
    height: 30px;
    margin-top: 18px;
    padding-top: 10px;
    position: relative;
    z-index: 100;
}
.al{
	width: 100%;
    height: 50px;
    background: #f0efec;
    position: absolute;
    top:-8px;
    left:0;
    z-index: 100;
    opacity:0.6;
}


.Lin_woa{
	position: absolute;
    left:40%;
	width: 485px;
		z-index: 101;

}
.Lin_woa span{
	margin-left: 6px;
    margin-right: 11px;
    font-size: 14px;
    font-family: "\5B8B\4F53","宋体";
    color: #333;
    display: inline-block;
    float: left;
    height: 20px;
    line-height: 20px;
}

.Lin_foot{
	width:100%;
	height:175px;
	background: #000;
    color: #888;
}
.Lin_woa a{
	width:auto;
	padding:0 10px;
	height:50px;
	display:block;
	font-size:14px;
	float:left;
	color:#000;
}
.Lin_wox{
	width: 840px;
    text-align: left;
    margin: 0 auto;
    padding: 15px 0 10px;
    font-size: 12px;
    font-family: SimSun;
    line-height: 20px;
    display: block;
}
.Lin_frd{
	width:840px;
	height:48px;
	
}

.Lin_frd span:nth-child{
	display: inline-block;
    vertical-align: middle;
    height: 48px;
    min-width: 280px;
    line-height:48px;
    margin-top:5px;
}
.Lin_frd span a img:nth-child{
    border: 0;
    vertical-align: middle;
}
.nth-last-child{
	width:460px;
	display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    position: relative;
    z-index: 1;
    font-family: SimSun;
}
.Lin_frd span i a{
	color: #888;
}
.aoq{
	display: inline-block;
    padding: 2px;
    color: #fff;
    background-color: #610000;
    position: absolute;
    z-index: 2;
    right: 40px;
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
    top: 21px;
    transition:.5s;
}
.aoq:hover{
	background:red;
	color:#fff;
}


































































































